# Build artifacts
*.o
moc_*.cpp
moc_predefs.h
Sruighlea
test_runner
*.AppImage

# linuxdeployqt artifacts
lib/
plugins/
doc/
translations/
AppRun
qt.conf
.DirIcon
default.png

# Log files
*.log

# User-specific files
.qmake.stash
